name: whiteshorts_crowd_app
description: WhiteShorts crowd-sourced NHL predictions broadcast app
publish_to: "none"

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.3.2
  #flutter_local_notifications: ^17.2.1
  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.6.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true


  