name: Publish predictions to Supabase

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  broadcast:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install typer duckdb joblib scikit-learn statsmodels pandas pyarrow requests
      - name: Install package
        run: |
          cd whiteshorts_app_broadcast
          pip install -U pip
          pip install -e .
          cd ..
      - name: Publish predictions to Supabase
        id: Publish_Results_Predictions
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_SERVICE_KEY: ${{ secrets.SUPABASE_SERVICE_KEY }}
          SUPABASE_TABLE: predictions
          WS_BACKEND: supabase
        run: |
              python - << 'PY'
              import os, pandas as pd
              from whiteshorts_broadcast import publish_results, BroadcastConfig

              df = pd.read_csv('data/parquet/predictions_2025-11-10_22343457047016974.csv')  # or the exact path you just wrote
              cfg = BroadcastConfig(
              backend='supabase',
              supabase_url=os.environ['SUPABASE_URL'],
              supabase_anon_key=os.environ['SUPABASE_SERVICE_KEY'],
              supabase_table='predictions',
              upsert_on=['game_date','player_id','target'])
              publish_results(df, cfg)
              PY
